.topic-hub {
  min-height: 100vh;

  background: #050505;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}

.topic-hub::before {
  content: "";

  position: absolute;
  inset: 0;

  background:
    radial-gradient(
      circle at top,
      rgba(124,58,237,0.12),
      transparent 45%
    );
}

.topic-hub-overlay {
  position: absolute;
  inset: 0;

  backdrop-filter: blur(6px);
}

.topic-hub-content {
  position: relative;

  z-index: 2;

  text-align: center;

  color: white;
}

.topic-hub-content p {
  color: #a855f7;

  letter-spacing: 2px;

  margin-bottom: 10px;
}

.topic-hub-content h1 {
  font-size: 52px;

  margin-bottom: 12px;
}

.topic-hub-content span {
  color:
    rgba(255,255,255,0.55);

  font-size: 17px;
}

.hub-grid {
  display: flex;

  gap: 35px;

  margin-top: 60px;
}

.hub-card {
  width: 320px;

  background:
    rgba(12,12,16,0.72);

  border:
    1px solid rgba(255,255,255,0.05);

  border-radius: 28px;

  padding: 36px;

  backdrop-filter: blur(20px);

  transition: 0.3s;
}

.hub-card:hover {
  transform:
    translateY(-5px);
}

.hub-card h2 {
  font-size: 30px;

  margin-bottom: 16px;

  color: white;
}

.hub-card p {
  color:
    rgba(255,255,255,0.55);

  margin-bottom: 30px;

  line-height: 1.6;
}

.hub-card button {
  width: 100%;
  height: 52px;

  border: none;

  border-radius: 14px;

  background:
    linear-gradient(
      90deg,
      #7c3aed,
      #6d5dfc
    );

  color: white;

  font-size: 15px;

  font-weight: 600;

  cursor: pointer;
}

/* ===================
MODAL
=================== */

.modal-backdrop {
  position: fixed;
  inset: 0;

  background:
    rgba(0,0,0,0.55);

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 100;
}

.warning-modal {
  width: 430px;

  background:
    rgba(12,12,16,0.95);

  border:
    1px solid rgba(124,58,237,0.18);

  border-radius: 28px;

  padding: 34px;

  text-align: center;

  box-shadow:
    0 0 40px rgba(124,58,237,0.14);

  backdrop-filter: blur(18px);
}

.warning-modal h2 {
  color: white;

  font-size: 30px;

  margin-bottom: 14px;
}

.warning-modal p {
  color:
    rgba(255,255,255,0.58);

  line-height: 1.7;

  margin-bottom: 30px;
}

.modal-actions {
  display: flex;

  gap: 16px;
}

.learn-btn,
.continue-btn {

  flex: 1;

  height: 52px;

  border: none;

  border-radius: 14px;

  cursor: pointer;

  font-weight: 600;

  transition: 0.3s;
}

.learn-btn {
  background:
    rgba(255,255,255,0.06);

  color: white;
}

.continue-btn {
  background:
    linear-gradient(
      90deg,
      #7c3aed,
      #6366f1
    );

  color: white;
}

.learn-btn:hover,
.continue-btn:hover {
  transform:
    translateY(-2px);
}